@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --um: #12372A; 
    --dois: #436850; 
    --tres: #ADBC9F;
    --quatro: #f8f7e2;
  }
  

*{
    background-color: #f5f5f5;
    font-family: 'Inter';
}